body,
html{
  width: 100%;
  height: 100%;
  background: url(Ressu2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-item{
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  transition: all 0.5s;
}
.nav-item:hover{
  color: black;
  transform: scale(1.1);
}
.animate__bounceInDown{
	/*font-size: 85px;*/
	height: 200px;
  width: 400px;
	text-align: center;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  position:absolute;
	font-family: serif;
  left:50%;
  top:50%;
  margin-top:- 85/2px;
  margin-left:- 85/2px;
}
.top-left {
  color: black;
}
footer{
	position: absolute;
	top: 150%;
	width: 100%;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1000px) {
  .animate__bounceInDown {
    font-size: 100px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 999px) {
  .animate__bounceInDown {
    font-size: 60px;
  }
}
