body,
html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(rk23.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-item{
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
  transition: all 0.5s;
}
.buffer {
  height: 10rem;
}
.nav-item:hover{
  color: black;
  transform: scale(1.1);
}
.animate__bounceInDown{
	/*font-size: 85px;*/
	height: 200px;
  width: 400px;
  font-family: serif;
	text-align: center;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:- 85/2px;
  margin-left:- 85/2px;
}
.top-left {
  color: black;
}
h1{
    font-family: serif;
    text-align: center;
    color: rgb(51, 50, 50);
}
footer{
	position: absolute;
	top: 150%;
	width: 100%;
}
.otsikko{
  font-size: 5vw;
  text-align: center;
}
.card{
 position: absolute;
     left: 50%;
     top: 75%;
     transform: translate(-50%,-50%);
     background-color: black;
     text-decoration-color: white;
     width: 80vw;
}
.card-body{
  color: white;
}
div{
  padding: 30px;
  color: white;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
  h1{
    font-size: 5vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 899px) {
  h1{
    font-size: 13vw;
  }
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 900px) {
  .otsikko{
    font-size: 50px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 899px) {
  .otsikko{
    font-size: 5.5vw;
  }
}